.deck-container .theme-menu {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    line-height: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    font-family: sans-serif;
}

.deck-container .theme-menu ul {
    padding: 0px;
    margin: 0px;
    display: block;
}

.deck-container .theme-menu ul li {
    display: inline-block;
}

@media print {
    .theme-menu {
        display: none !important;
    }
}
