@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: normal;
  src: local('Love Ya Like A Sister Regular'), local('LoveYaLikeASister-Regular'), url('Love_Ya_Like_A_Sister.woff') format('woff');
}